{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-white p-2 m-3 rounded">
    <h1 class="text-center">Welcome to Pagey the World's first phone book!</h1>
</div>
<div class="row my-3 gx-2 gy-2">
    <div class="bg-white mx-3 col-8 rounded-5">
        <div class="py-5 m-4">
            <h5 class="">Ok, we actually aren't but you know it could be true.</h5>
            <p>Haven't your parent's taught you to not believe everything you see on the internet its obvious this is
                fake.
            </p>
            <h6>Any ways here's the story behind pagey:</h6>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, doloremque porro tempora laborum,
                repellendus fugiat repudiandae rerum amet exercitationem consequuntur ut atque nulla quisquam labore
                aliquam quaerat ducimus voluptatum quos.
                Quasi vero voluptatum aliquam non doloremque iste eum debitis. <strong>Soluta nostrum illum sit quo
                    adipisci nemo atque, totam sint ducimus,</strong> dolorem quos aliquam a, placeat facilis ratione
                fugit numquam est!
                Deleniti at quis cumque eligendi omnis iste porro facilis ducimus dicta qui, ipsam repellat laborum rem!
                Commodi, incidunt illo veritatis quasi dolorem alias dicta consequatur? Maxime repellat exercitationem
                quod eius.
                <br><br>Quisquam perferendis blanditiis voluptatem optio corrupti? <em>Ut nostrum iusto illo maiores
                    assumenda perferendis</em> facere autem quidem modi hic ab laborum libero omnis adipisci, excepturi
                cum consequuntur placeat quia suscipit magni!
                Facilis, nesciunt. Omnis repudiandae maxime consectetur, asperiores ad eius sunt accusantium nostrum ea
                pariatur excepturi esse in cum cupiditate commodi minima non modi aspernatur deleniti beatae nesciunt!
                <br><br>Alias, cupiditate harum?
                Dolor fugit, ducimus optio doloremque sit cupiditate veniam, maxime laborum saepe dolore impedit commodi
                eum sunt repellat <strong>porro excepturi</strong> maiores architecto explicabo! Excepturi nulla,
                obcaecati voluptatem assumenda at dolore dicta.
                Exercitationem saepe, aliquid culpa alias magnam commodi nemo quis iste debitis libero similique nihil
                qui placeat, excepturi provident, tenetur aut! Quasi temporibus quod autem quisquam officiis! Explicabo
                aliquam vel inventore!
            </p>
        </div>
    </div>
    <div class="bg-white mx-1 col-3 rounded-5">
        <div class="p-4">
            <h1>Meet the creator</h1>
            <h6>It's not Ryan Reynolds</h6>
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/Deadpool_2_Japan_Premiere_Red_Carpet_Ryan_Reynolds_%28cropped%29.jpg"
                alt="Photo of ryan reynolds" class="h-auto w-50 rounded-5 mx-auto d-block my-2 py-2">
            <div class="overflow-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum expedita maiores aliquid hic sunt
                    vero in officiis neque corporis qui consectetur voluptatum vitae ad, magnam, dolore, nihil
                    aspernatur iure nobis!
                    Quas assumenda minus voluptates ducimus maxime dicta veritatis itaque unde accusamus possimus
                    sapiente eum velit tenetur saepe, consectetur, officia obcaecati, eveniet voluptatum ut magni
                    temporibus ullam asperiores expedita! Neque, culpa?</p>
                <p>Tempore voluptatum dignissimos aut placeat rerum quis ea, distinctio dolore beatae nulla odio officia
                    tenetur perspiciatis fugiat consequatur quas est eveniet explicabo aliquam sapiente! Officiis
                    officia unde labore eos cupiditate.</p>
                <p>Error, excepturi, illo reprehenderit veniam id sapiente itaque laborum quis doloremque quidem
                    officia! Sunt repellendus, molestias autem quos aut sed accusantium tenetur repellat, at temporibus
                    sint. Voluptas ea quidem illum.</p>
                <p>Dolorum autem dolores porro, dolore, fuga voluptatem in quaerat ad similique, sunt ipsum deserunt
                    magnam ipsam facilis odit facere ab distinctio beatae praesentium dignissimos. Laborum ipsam
                    aspernatur commodi culpa ex.
                    Tempore, accusamus inventore quae vero voluptate iusto sunt nesciunt dolore nulla ab, modi sit
                    impedit consequuntur voluptatum in dolores adipisci tempora, quod atque accusantium maiores officia
                    optio quibusdam!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}